@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    background-image: url("./images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: blue;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: bold;
}
.header{
    margin:3rem 0 3rem 0;
    cursor: pointer;
}
.logo-img{
    padding-left: 2rem;
}
.main-container{
    display: flex;
    justify-content: center;
    margin-right: auto;
}
.img{
    scale: 90%;
    left: 0;
}
.title{
    padding: 2.5rem 6rem 1.5rem 0;
    font-size: 2.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #e8e6e3;
}
.text{
    padding: 0 3.5rem 0 0;
    color: hsl(0, 100%, 100%);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 2rem;
}
.btn{
background-color: #181a1b;
border: none;
border-radius: 2rem;
padding: 1rem 3.2rem;
}
.btn:hover{
    background-color: #761676;
}
main button a{
    text-decoration: none;
    color: #7a61bb;
    letter-spacing: 1px;
}
.footer{
    display: flex;
justify-content: end;
gap: 1.5rem;
}
footer a{
font-size: 2rem;
}
.footer a:hover{
    color: aqua;
}
@media screen and (max-width: 768px) {
    body {
        background-image: url("./images/bg-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header{
        margin-bottom: 0;
    }
    .main-container {
        display: grid;
        flex-direction: column;
        align-items: center;
        row-gap: -1rem;
        margin: 0 15rem;
        margin-bottom: 3rem;
    }
    .img{
        scale: 60%;
        margin-bottom: 0;
    }
    .main-texts{
        margin: 0 10rem;
    }
.title{
    padding-top: 0;
}
.text{

}
    .footer {
        justify-content: center;
    }
}